extends ../layouts/master

block content
  h1 Update User
  form(action="/users/update", method="POST")
    div.form-group
      img.rounded-circle(src=user.avatarUrl ? user.avatarUrl: "https://loremflickr.com/64/64", alt="avatar")
      a.ml-3(href="/users/profile/avatar") Change Avatar
    div.form-group
      input(type="hidden", name="id", value= user.id)
      label Name
      input(type="text", class="form-control", name="name", value= user.name)
    button(class="btn btn-primary") Update