extends ../layouts/master

block content
  .row.d-flex.align-center.justify-content-between.mb-2.mt-2
   h2 Users

   a.btn.btn-primary.btn-lg(href="/users/create", role="button") Create User
  table(class="table table-striped")
    thead
      tr
        th(scope="col") #
        th(scope="col") Name
        th(scope="col") Phone
        th(scope="col") View
        th(scope="col") Update
        th(scope="col") Delete
    tbody
      each user, index in users
        tr
          th(scope="row")= index
          td= user.name
          td= user.phone
          td
            a(href='/users/' + user.id) View
          td
            a(href='/users/' + user.id + '/update') Update
          td
            a(href='/users/' + user.id + '/delete') Delete