html
  head
    link(rel="icon", href="/favicon.png", type="image/png")
    link(rel="stylesheet", href="custom.css")
    link(rel="stylesheet", href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css")
  body
    div(class="container")
      nav(class="navbar navbar-expand-lg navbar-light bg-light")
        a(class="navbar-brand" href="/") Library
        button(class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation")
          span(class="navbar-toggler-icon")
        div(class="collapse navbar-collapse" id="navbarNav")
          ul(class="navbar-nav")
            li(class="nav-item")
              a(href="/books", class="nav-link") BOOK
            li(class="nav-item")
              a(href="/users", class="nav-link") USER
            li(class="nav-item")
              a(href="/transactions", class="nav-link") TRANSITION
      block content