extends ../layouts/master

block content
   h1 Create Book
   form(method="POST", enctype="multipart/form-data")
      div(class="form-group")
         label Title
         input(type="text", class="form-control", name="title")
      div(class="form-group")
         label Description
         input(type="text", class="form-control", name="description")
      div(class="form-group")
        label(for="image") Image
        input#image(type="file", class="form-control-file", name="image")
      div(class="d-flex justify-content-center")
         button(class="btn btn-primary") Create